html,body,.wowbook-toc li a{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}


/*fit image to book page size*/
#book div {background-size: contain;}

/* main nav */
.main-nav{
z-index:1999;
position:absolute;
left:0;
padding:10px 0;
background-color: $dgrey;
width:100%;
min-height:50px;
box-shadow: 0 0 4px rgba(0,0,0,0.3);
display: inline-block;
}

.nav {
  width:40%;
  float:left;
  margin-left:20px;
  height:45px;
  line-height:45px;
  font-size:10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#222;
  font-weight:700;
  /*text-transform:uppercase;*/
  display: inline-block;
  vertical-align: middle;
}

.nav a, .nav a:hover, .nav a:visited{
  text-decoration: none;
  color:#333;
}

.logo {
margin-right:10px;
// width:39%;
float:right;
text-align:right;
}

.book_container {
  position:absolute;
  top:70px;
  bottom: 0px;
  width: 100%;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $black; /* f01516 */
  border: 0px none $black;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: $yellow;
}
::-webkit-scrollbar-thumb:active {
  background: $yellow;
}
::-webkit-scrollbar-track {
  background: $yellow;
  border: 0px none $yellow;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: $black;
}
::-webkit-scrollbar-track:active {
  background: $black;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* custom background colours per */
.bg-mb > .wowbook-container {background-color:$dgrey}

.wowbook-controls {background:$black;border-top-color:$yellow}
.wowbook-control:hover{background-color:$yellow}

.wowbook-toc{background:$black;color:$white}
.wowbook-toc a{border-top-color:$dgrey;}
